.nav a{
  color:##5a5a5a;
  font-size:1.1em;
  font-weight:bold;
  padding:1.4em 1 em;
  text-transfrom:uppercase;
}
.nav a:hover{
color:#000000;
}

.nav li{
  display: inline;
}

.description{
  color:#000000;
  font-size:1.6em;
  font-weight:bold;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
    height:40em;
}
