.centered{
  margin-left: auto;
  margin-right:auto;
  padding-left:auto;
  padding-right:auto;
  text-align: center;
}

.nav a{
  color:##5a5a5a;
  font-size:1.1em;
  font-weight:bold;
  padding:1.4em 1 em;
  text-transfrom:uppercase;
}
.nav a:hover{
color:#000000;
}

.nav li{
  display: inline;
}
